.nav-bar {
	align-items: center;
}

.nav-item {
	cursor: pointer;
}

.navbar-brand {
	font-family: "ElVergel";
}

.brand-wrapper {
	display: flex;
	width: 80px;
	height: 70px;
}

.brand-title {
	white-space: nowrap;
}

.button-wrapper {
	display: flex;
	flex: 0.5;
	align-items: flex-end;
	justify-content: space-between;
}
